<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Profesora en Educación Primaria </h2> <h3>(years)</h3>
                <p></p>
            </li>
            <li>
                <h2>Profesora en Danzas con orientación en Danzas Folclóricas </h2> <h3>(years)</h3>
                <p></p>
            </li>
            <li>
                <h2>Desarrolladora Web Full Stack Junior </h2> <h3>(years)</h3>
                <p></p>
            </li>
        </ul>
    </div>
</div>
