<div class="row">
    <h1>Experiencia laboral</h1>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Maestra Comunitaria en programa CAI </h2> <h3>(years)</h3>
                <p>Acompañamiento a alumnos con trayectorias discontinuas y dificultades de aprendizaje. Establecimiento de vínculos escuela- familia- comunidad</p>
            </li>
            <h2> Tallerista en programas de Asociación Conciencia </h2> <h3>(years)</h3>
            <p>Me desempeñé como tallerista lúdico recreativo en Centros de Primera Infancia, su finalidad era estimular hábitos saludables a través de juegos. </p>
            <li>
                <h2>Docente en escuela primaria </h2> <h3>(years)</h3>
                <p>Con amplia experiencia en alfabetización inicial mis tareas actualmente están centradas en el desarrollo de planificaciones aúlicas en el área de lengua y el dictado de las mismas.</p>
            </li>
        </ul>
    </div>
</div>
