   <div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/recursos/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/recursos/facebookVintage-removebg-preview.png" alt="facebook"></a> 
                <a href=""><img src="../../../assets/recursos/Instagram-icon.png" alt="instagram"></a> 
                <a href=""><img src="../../../assets/recursos/linkedinestampilla.png" alt="linkedin"></a> 
                <a href=""><img src="../../../assets/recursos/github-removebg-preview.png" alt="github-removebg-preview"></a> 
                <button type="button" class="btn btn-outline-light">Ingreso</button>
            </div>
    </div>
   </div> 
